header {
  background-color: red; 
}
footer {
  background-color: red; 
}
.title-bar {
  background-color: yellow; 
}
#wrap {
  background-color: yellow; 
}
.submenu.menu.vertical {
  background-color: red; 
}
.row.expanded.callout.secondary {
  background-color: yellow; 
}
