header {
  background-color: #f21818; 
}
footer {
  background-color: #f111f5; 
}
.title-bar {
  background-color: #cb8bcc; 
}
#wrap {
  background-color: #3bd1ff; 
}
.submenu.menu.vertical {
  background-color: #32822b; 
}
.row.expanded.callout.secondary {
  background-color: #eaff00; 
}
